export NODE_ENV=development
export VITE_OHL_EMAIL_URL=https://us-west3-www-prod-389819.cloudfunctions.net/nodejs-http-ohLawContactFormFunction
export VITE_OHL_MC_URL=https://us-west3-www-prod-389819.cloudfunctions.net/mailchimpSignup
export VITE_CONTACT_ADDR=contact@ohlawcolorado.com
export VITE_CONTACT_NAME="OHLaw"
export VITE_CONTACT_FROM_NAME="OHLaw Website"
export VITE_CONTACT_FROM_EMAIL="website@ohlawcolorado.com"
export VITE_GOOGLEMAPS_API=https://maps.googleapis.com/maps/api/geocode
export VITE_GOOGLEMAPS_KEY=AIzaSyCsZxupUGnfznurzM1WVQgL3FWUq5FuBqU
export VITE_CTF_CDA_ACCESS_TOKEN=8x7h_dmTbF8m0wl4IGYxTI3dMZxrPR9tGzcQDlpfrvk
export VITE_CTF_SPACE_ID=jwrkm3b4cwb5
export VITE_CTF_ENVIRONMENT=master
export NUXT_STRAPI_URL=https://strapi.ohlawcolorado.com/graphql
