@font-face {
    font-family: 'alegreya_sansregular';
    src: url('alegreyasans-regular-webfont.woff2') format('woff2'),
         url('alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-normal-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('Lato-normal-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('Lato-normal-300.woff') format('woff');
  font-weight: light;
  font-style: normal;
}