@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: local('Lato Italic'), local('Lato-Italic'), url(Lato-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Lato Regular'), local('Lato-Regular'), url(Lato-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Quatrocento';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Quatrocento Bold'), local('Quatrocento-Bold'), url(Quatrocento-Bold.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(Roboto-italic-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(Roboto-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(Poppins-Regular.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: local('Poppins Italic'), local('Poppins-Italic'), url(Poppins-Italic.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: local('Poppins Light'), local('Poppins-Light'), url(Poppins-Light.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: local('Poppins Light Italic'), local('Poppins-Light-Italic'), url(Poppins-LightItalic.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Poppins Bold'), local('Poppins-Bold'), url(Poppins-Bold.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: local('Poppins Bold Italic'), local('Poppins-Bold-Italic'), url(Poppins-BoldItalic.woff2) format('woff2');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Benguiat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url(BenguiatRegular.ttf) format('ttf');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url(NotoSansMono-Regular.woff) format('woff');
	unicode-range: U+0-10FFFF;
}