@media print {
  body {
  /* 2 column layout
    column-width: 17em;
    column-gap: 3em;
  */
  }

  main.main { top: 0 !important; }

  article {
    font-size: 6pt !important;
    display: block;
  }

  h1, h2, h3, h4, h5, h6 {
    break-before: auto;
    break-after: avoid;
  }

  .rich-text p, .rich-text span, .paragraph {
    // break-before: auto;
    // break-after: auto;
    break-inside: avoid;
  }

  .blog-title,
  .categories-nav,
  nav,
  .navbar-nav,
  header,
  footer {
    display: none !important;
  }

  .print-d-none {
    display: none !important;
  }

  .print-d-only {
    display: inline !important;
  }

  .print-float-left {
    float: left !important;
  }

  .print-float-right {
    float: right !important;
  }

  .print-w40 > * {
    width: 40% !important;
  }

  .print-w60 > * {
    width: 60% !important;
  }

  /*
    Bootstrap overrides
  */

  .pb-5 { padding-bottom: 0 !important; }
}