@import 'bootstrap/scss/bootstrap';
$theme-colors: (
  primary: #003399
);

// @import "@/../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import url(../fonts/fonts.css);
@import url(../fonts/google-fonts.css);
// @import url(./responsive-borders.scss);


html {
  scroll-behavior: smooth;
}
body {
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
}

h1, h2, h3, h4, h5 {
  font-family: QuatrocentoBold,'Cantata One',Georgia,"Times New Roman",serif;
}

a {
  color: #003399;
  text-decoration: none;
  &:hover {
    color: #002277;
    text-decoration: underline;
  }
}

button {
  border-radius: 3.5px;
}

strong {
  font-family: LatoBold,Helvetica,Arial,sans-serif;
  font-weight: 700;
}

#main-header{
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.4s;
  background: #ffffff;
  img {
    transition: 0.4s;
  }
}

/*
#top-header {
  top: 32px;
  background: #003399;
  color: #ffffff;
}
*/

.navbar-brand {
  width: 400px;
}

main.main {
  position: relative;
  top: 80px;
}

main.forms {
  position: relative;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#breaking-news {
  color: #ffffff;
  background: #001F5B;
}


#front-splash {
  height: 462px;
  width: 100%;
  background: url('../img/horsetooth_hiker_1275_485_smallest.jpg');
  background-position-x: 50%;
  background-position-y: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #slogan-hero {
    margin: 30px auto;
    padding: 30px 120px;
    width: 60%;
    background: hsla(0, 0%, 25%, 0.5);
    h1 {
      font-size: 400%;
      font-weight: 200;
      font-family: Quatrocento;
    }
  }
}

.welcome-text {
  margin: 0 115px;
}

#how-we-differ {
  background: #444444;
  color: #ffffff;
  padding-left: 155px;
  padding-right: 155px;
  h1 {
    text-align: center;
  }
}

#lines-of-business {
  background: #d8d8d8;
  padding: 0;

  .service-img {
    img {
      width: 100%;
    }
  }
}

#contact-form {
  background: #003399;
}

footer {
  position: relative;
  top: 80px;
  background: #222222;
  color: #ffffff;
  .footer-address ul li {
    line-height: 24px;
  }
}

.formkit-inner {
  background: #ffffff;
}

.formkit-wrapper {
  max-width: 100%;
}

@media (max-width: 1100px) {
  .navbar-brand {
    width: 300px;
  }
  #lines-of-business {
    font-size: 14px;
    line-height: 32px;
  }
}

@media (max-width: 1025px) {
  .navbar-brand {
    width: 225px;
  }

  .navbar-toggler-icon {
    transition: 0.4s;
    height: 0.8em;
    width: 0.8em;
  }

  #front-splash {
    height: 250px;

    #slogan-hero {
      font-size: 65%;
      padding: 15px 30px;
    }
  }

  #lines-of-business {

    .service-img {
      display: none;
    }

    .service-text {
      border-top: 1px solid #333333;
      border-bottom: 1px solid #333333;
    }
    #service-small-business .service-text {
      background: url('../img/business1_1024_o20.png') ;
    }

    #service-nonprofit .service-text {
      background: url('../img/dotorgtablet_1024_o20.png') ;
    }

    #service-estate-planning .service-text {
      background: url('../img/estatenotebook_1024_o20.png') ;
    }

    #service-bankruptcy .service-text {
      background: url('../img/helpinghand_1024_o20.png') ;
    }
  }
  #how-we-differ {
    background: #444444;
    color: #ffffff;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (max-width: 768px) {
  #front-splash {
    display: none;
  }
  .welcome-text {
    margin-left: 35px;
    margin-right: 35px;
  }
  #how-we-differ{
    padding-left: 45px;
    padding-right: 45px;
    h1 {
      font-size: 32px;
    }
  }

}